/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.container {
    width: 100vw;
    height: 100vh;
    background: #ffc18c;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr; 
    --long: 70vw;
    --tall: 4vh;
    --depth: 10vh;
    --bookWidth: 100px;
    --bookHeight: 150px;
    --bookDepth: 30px; 
}

.header {
    color: white;
    font-size: 4em;
    font-weight: bold;    
}

.header,
.footer {
    display: grid;
    place-content: center;
}

.footer > button {
    padding: 8px 24px;
    border-radius: 8px;
    background: #f6eee2;
    font-weight: bold;
    color: black;
    border: none;
    font-size: 1em;
}

.content {       
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: end;
    margin-bottom: 32px;
    perspective: 600px; 
    perspective-origin: center top;
}

.book-shelf {
    transform-style: preserve-3d;
    margin-bottom: 16px;
    
}

.shelf {    
    position: relative;
    width: var(--long);
    height: var(--tall);
    transform-style: preserve-3d;
}

.front {
    position: absolute;
    background-color: #ada79f;
    width: var(--long);
    height: var(--tall);
    transform: translateZ(calc(var(--depth)/2)); 
    box-shadow: 0 12px 12px -9px black;   
}

.top {
    position: absolute;
    top: calc(calc(var(--depth)/2 - var(--tall)/2)*-1);
    width: var(--long);
    height: var(--depth);
    background-color: #f6eee2;
    opacity: 0.6;
    transform: rotateX(90deg) translateZ(calc(var(--tall)/2));
}

.book-container {
    margin: auto;    
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.book {
    position: relative;
    transform-style: preserve-3d;
    width: var(--bookWidth);
    height: var(--bookHeight);
    transform: rotateY(-30deg);
}

.cover {
    position: absolute;
    width: var(--bookWidth);
    height: var(--bookHeight);
    background: red;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.pages{
    position: absolute;
    top: 3px;
    width: var(--bookDepth);
    height: calc(var(--bookHeight) - 3px * 2);
    background: white;
    transform: 
        translateX(calc(var(--bookWidth) - var(--bookDepth)/2)) 
        rotateY(90deg)
        translateX(calc(var(--bookDepth)/2)) ;
}

.top-pages {
    position: absolute; 
    top: calc((var(--bookDepth)/2*-1 + 3px));   
    width:var(--bookWidth);
    height: var(--bookDepth);
    background: white;
    transform: rotateX(90deg) translateY(calc(var(--bookDepth)/2*-1));
}

.back {
    position: absolute;
    width: var(--bookWidth);
    height: var(--bookHeight);
    background: red;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: translateZ(calc(var(--bookDepth)*-1));
    
}

.book-side {
    position: absolute;
    left: calc(var(--bookDepth)/2*-1);
    width: var(--bookDepth);
    height: var(--bookHeight);
    background: red;
    transform: rotateY(90deg) translateX(calc(var(--bookDepth)/2));
}

.book:hover {
  transform: rotate(0deg);
  scale: 1.2;
  transition: 1s;
}

dialog {
  border-radius: 8px;
  border: 1px solid #D6D9DC;
}

.dialogNewBook {
    justify-self: center;
    align-self: center;
}


#formAddNewBook > div {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 8px;
}

#formAddNewBook input {
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #D6D9DC;
}

form {
    display: flex;
    flex-direction: column;
    
}

#submitButton {   
    margin-bottom: 8px;    
    border-radius: 8px;    
}

.book-title {
  font-size: 16px;
}

.book-author {
  font-size: 12px;
}


.book-dialog-section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 8px;
 
}

.dialog-button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.edit-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.dialog-book button {
  border-radius: 5px;
  width: 120px;
  background: #ffc18c;
}